* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
     color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
       font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
    background-size: cover;
    background-position: center;  
    background-attachment: fixed;
    height: 100vh;    
}

section {
    padding: 80px 0;
}

.hero-text-box {
    max-width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    font-size: 180%;
    margin-bottom: 30px;
    word-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    margin: 0 auto;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin-top: 30px;
}

h3 {
    font-weight: 300;
    font-size: 110%;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.box p {
    line-height: 180%;
    font-size: 90%;
    font-weight: 350;
}

.section-features .long-copy {
    margin-bottom: 30px;
}

.long-copy {
    line-height: 180%;
    max-width: 70%;
    margin-left: 15%;
}

box {
    padding: 1%;
}

.icon-big {
    font-size: 350%;
    color: #e67e22;
    display: block;
    margin-bottom: 10px;
   
}

.btn:link,
.btn:visited
{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}

.btn-full:link,
.btn-full:visited
{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
    
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #fff;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}
.btn-ghost:hover{
    color: #fff;
    background-color: #cf6d17;
}

.logo {
    float: left;
    height: 100px;
    width: auto;
    margin-top: 20px;
}

.logo-black {
    display: none;
    float: left;
    height: 50px;
    width: auto;
    margin: 5px 0;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0;
    border: 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}


/*-----------------------------------*/
/*Sticky navi*/
/*-----------------------------------*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98); 
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
} 

.main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #555;
    padding: 16px 0;
}

.sticky .logo-black {
    display: block;
}

.sticky .logo {
    display: none;
}


/*--------------------------*/
/*Meals section*?
/*--------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    width: 25%;
    float: left;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meals-showcase img {
    
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    opacity: 0.7;
}

.meals-showcase img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    
}

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-screen {
    margin-bottom: 50px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 26px;    
}

.works-step p {
    margin: 30px;
}


.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-features {
    margin-bottom: 5px;
}

.icon-small {
    color: #e67e22;
    display: inline-block;
    font-size: 120%;
    text-align: center;
    width: 30px;
}

a {
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover {
    color: #555;
    border-bottom: 1px solid transparent;
}

.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.8)) ), url(img/back-customers-min.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8) ), url(img/back-customers-min.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}




.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 8%;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

plan-price-meal {
    font-size: 80%;
    
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.form-contact {
    width: 60%;
    margin: 0 auto;
}

select,
input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=submit] {
    border-radius: 200px;
    background-color: #e67e22;
    color: #fff;
    padding: 10px 30px;
}

input[type=submit]:hover {
    background-color: #cf6d17;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
} 

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a,
.social-links a {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
} 

.footer-nav li a:hover,
.social-links a:hover {
    color: #ddd;
}

.social-links a {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}






